span.SpellCheckUnderline {
    position: relative;
    display: inline-block;
    border-bottom: dotted 1px red;
    background-position: bottom;
    background-repeat: repeat-x;
    cursor: pointer;
    background-color: yellow;
}
