span.underline {
   position: relative;
   display: inline-block;
   background-image: url(img/underline.gif);
   background-position: bottom;
   background-repeat: repeat-x;
   cursor: pointer;
   background-color: yellow;
}